@*@model WebApplication1.M @model WebApplication1.Models.MusicItem

<h2>Item Added to Cart</h2>
<p>@Model.Title has been added to your cart.</p>

@Html.ActionLink("Go to Cart", "Index", "Cart", null, new { @class = "btn btn-success" })
@Html.ActionLink("Continue Shopping", "Index", "Store", null, new { @class = "btn btn-secondary" })*@

